/***********************modal*********************/

.modal{
    font-family: 'Gloria Hallelujah', cursive;
}
.modal-header{
    background-color: #e27209;
    margin: 0;
}

.modal-header h5{
    font-size: 2em;
    font-family: 'Gloria Hallelujah', cursive;
}

.modal-body{
    font-size: 1.4em;
    background-image: url("https://cdn.hipwallpaper.com/i/99/50/ZkyNaO.jpg");
    color: aliceblue;
}
.btn.btn-idea{
    background-color: #e27209;
}

.green {
    background-color: #A9EEA5;
}

.pink {
    background-color: #CE9FE1;
}

.blue{
    background-color: #66B0BE;
}

.card {
    padding: 1em;
    margin: 2em;
}

.form-control {
    background-color: lightgray;
}

/*********************header******************/

.navbar{
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    font-family:'Gloria Hallelujah', cursive;
}

.navbar-brand{
    font-size: 5em;
}
.navbar-expand-lg .navbar-collapse{
    font-size: 1.7em;
}
.navbar-dark .navbar-brand{
    color: #e27209;
    padding-left: 2%;
}
.navbar-dark .navbar-brand:hover{
    color: #FFD7B1;
}
.nav-link .veilles{
    color: #66B0BE;
}
.nav-link .veilles:hover{
    color: #CE9FE1;
}
.nav-link .événements{
    color: #EC552D;
}
.nav-link .événements:hover{
    color: #FFD7B1;
}
.nav-link .vie{
    color: #37BA30;
}
.nav-link .vie:hover{
    color: #A9EEA5;
}

/***************footer*****************/

footer{
    background-color: #343a40;
    font-family:'Gloria Hallelujah', cursive;
    font-size: 1.5em;
    padding-top: 2%;
}
footer a:hover{
    text-decoration: none;
    color:#6CA3B0;
}

footer a{
    color:#ec6d6a;
}
.ampoule{
    font-size: 4em;
    color: #e27209;
    padding-left: 10%;
   /* padding-right: 15%;*/
}
.fa, .fas{
    font-size: 4em;
    color:#fE1B00;
    margin-right: 5%;
}
.fa, .fas:hover{
    color:#FFEC00;
}
.a{
    color:#CA4441;
}
.hyperlink{
    color:#66B0BE;
}
.hyperlink:hover{
    color: #CE9FE1
}
.fab{
    color:#66B0BE;
}
.fab:hover{
    color: #CE9FE1
}
